*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    background-image: url(assets/BG-1.jpg);
    background-size: cover;
    height: calc(100vh - 80px);
    color: white;
    font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h1{
    text-align: center;
    color: darkblue;
    font-weight: 600;
    margin-bottom: 4.2rem;

}

.container-lg{
    margin-top: 5rem;
}

#Border{
    border-color: darkblue !important;
}

.nav{
    font-size: 2rem;
    color: darkblue;
    font-weight: 600;
}

#clock {
    font-size:  2rem;
    color: darkblue;
    font-weight: 600;
  }


